.boostParent {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.h1 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-shrink: 0;
  font-family: AdineuePRO, Helvetica, Arial, sans-serif;
  font-weight: 750;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
  font-size: 42px;
  line-height: 38px;
}

.description {
  font-family: AdihausDIN, Helvetica, Arial, sans-serif;
}

.specification {
  font-family: AdihausDIN, Helvetica, Arial, sans-serif;
}

.boostList {
  width: 100%;
  margin-bottom: 40px;
  margin: 0 0 20px;
  padding: 0;
  display: flex;
  list-style: none;
  margin-block-start: 1em;
  justify-content: center;
}

.boostToggle {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-family: AdihausDIN, Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 16px;
  position: relative;
  list-style: none;
  text-align: center;
  padding: 16px 230px;
  cursor: pointer;
  color: #98989a;
  border: 1px solid #d9dcdd;
  margin-left: -1px;
  padding-left: 138px;
  padding-right: 138px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
}

.hToggle {
  border: 1px solid #d9dcdd;
  margin-left: -1px;
  position: relative;
  list-style: none;
  text-align: center;
  padding: 16px 230px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-family: AdihausDIN, Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 16px;
  color: #000;
  border-color: #000;
  box-shadow: inset 0 -2px 0 #000;
  z-index: 1;
  position: relative;
  padding-left: 138px;
  padding-right: 138px;
  cursor: pointer;
}

.dToggle {
  border: 1px solid #d9dcdd;
  margin-left: -1px;
  position: relative;
  list-style: none;
  text-align: center;
  padding: 16px 230px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-family: AdihausDIN, Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 16px;
  color: #000;
  border-color: #000;
  box-shadow: inset 0 -2px 0 #000;
  z-index: 1;
  position: relative;
  padding-left: 138px;
  padding-right: 138px;
  cursor: pointer;
}

.sToggle {
  border: 1px solid #d9dcdd;
  margin-left: -1px;
  position: relative;
  list-style: none;
  text-align: center;
  padding: 16px 230px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-family: AdihausDIN, Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 16px;
  color: #000;
  border-color: #000;
  box-shadow: inset 0 -2px 0 #000;
  z-index: 1;
  position: relative;
  padding-left: 138px;
  padding-right: 138px;
  cursor: pointer;
}

.productDisplay {
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}

.specifications {
  display: flex;
}

.highlights {
  display: flex;
  height: 325px;
  margin-bottom: 80px;
}

/* snapshot */
.snapshot {
  height: 500px;
}

.snapshotParent {
  display: flex;
  width: 1149px;
}

.deets {
}

.deetsP {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: AdihausDIN, Helvetica, Arial, sans-serif;
  font-weight: 900;
  margin-top: 0px;
}

.deetsP2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 14px;
  width: 262px;
}

.picturesShare {
  margin-top: 80px;
}
