.carousel {
  display: flex;
  overflow: hidden;
  min-width: 1140px;
}

.recCarousel {
  display: flex;
  width: 1163px;
  overflow: hidden;
}

.transformers {
  display: flex;
  min-width: 468px;
}

.indicators {
  display: flex;
  position: relative;
  align-items: flex-end;
  position: absolute;
  top: 109%;
  left: 49%;
  overflow: hidden;
  width: 9%;
  height: 20px;
  pointer-events: auto;
}
