.carousel {
  display: flex;
  overflow: hidden;
  min-width: 1140px;
}

.recCarousel {
  display: flex;
  width: 1163px;
  overflow: hidden;
}

.transformers {
  display: flex;
  min-width: 468px;
}

.indicators {
  display: flex;
  position: relative;
  align-items: flex-end;
  position: absolute;
  top: 109%;
  left: 49%;
  overflow: hidden;
  width: 9%;
  height: 20px;
  pointer-events: auto;
}

.nonActive {
  background-color: black;
}

.active {
  background-color: black;
  width: 15px;
  height: 8px;
  margin-left: 7px;
  list-style: none;
}

.nonActiveBars {
  background-color: black;
  transition: height 0.3s ease;
  width: 15px;
  height: 1px;
  margin-left: 7px;
  list-style: none;
}

.nonActiveBars:hover {
  height: 8px;
  cursor: pointer;
}
