.display {
  display: flex;
  justify-content: center;
  flex-grow: 0;
  margin-top: 19px;
  margin-bottom: 105px;
}

.h4 {
  font-family: AdineuePRO, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: -2%;
}

.h5 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: AdineuePRO, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 1%;
}

.description {
  flex-direction: column;
  justify-content: center;
  margin: 2.68%;
  display: flex;
  width: 105%;
  height: 46%;
  position: relative;
  left: 16px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -2.334%;
  width: 468px;
  position: relative;
  right: 36px;
}

.p {
  padding: 0;
  width: 66%;
  white-space: pre-wrap;
  margin-bottom: 0;
}
