.LeftArrow {
  position: absolute;
  top: 27%;
  width: 3%;
  left: -1px;
  color: #837979;
  background-color: white;
  text-align: center;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}

.arrowHidden {
  visibility: hidden;
}
.LeftArrow:hover {
  cursor: pointer;
  background-color: #2e2b2b;
  color: white;
}
