/* .recsDiv {
  align-content: center;
  display: inline-block;
} */
/* overflow: hidden;
position: relative;
display: -webkit-flex;
display: flex;
max-width: 1366px;
width: 100%;
margin-left: auto;
margin-right: auto; */

.itemWrapper {
}

.hockeyCard {
}

.productCard {
  width: 274.87px;
  margin-left: 10px;
}

.productCard:hover {
  border: 0.01px solid #eed2d2;
  cursor: pointer;
}

.productInfo {
  max-width: 241px;
}

.img {
  width: 274.88px;
  margin-bottom: 13px;
  margin-left: 0px;
}

.productDetails {
  padding: 0px 10px 20px;
  display: flex;
  flex-direction: column;
  max-width: 244px;
  margin-top: -38px;
}

.productName {
  letter-spacing: 0.5px;
  margin: -4px 0px 0px 10px;
  max-height: 30px;
  overflow: hidden;
  font-size: 13px;
  text-transform: uppercase;
  padding-bottom: 14px;
  color: #393131;
}

.productPrice {
  font-size: 13px;
  padding-top: 0px;
  margin-left: 10px;
  color: #835c5c;
}

.favorite {
  position: relative;
  bottom: 274px;
  left: 97%;
  width: 4%;
  margin: 0%;
}

.numbersOfRaters {
  position: relative;
  font-size: 12px;
  line-height: 1;
  padding-left: 5px;
  left: 21px;
  bottom: -2px;
}

.timRating {
  display: flex;
  flex-direction: row;
  height: 14px;
  width: 83%;
}
