/* .recsDiv {
  align-content: center;
  display: inline-block;
} */
/* overflow: hidden;
position: relative;
display: -webkit-flex;
display: flex;
max-width: 1366px;
width: 100%;
margin-left: auto;
margin-right: auto; */

.itemWrapper {
}

.hockeyCard {
}

.productCard:hover {
  border: 0.02px solid #eed2d2;
  cursor: pointer;
}

.productInfo {
  max-width: 244px;
}

.img {
  width: 228px;
  margin: 0px;
}

.productDetails {
  padding: 0px 10px 20px;
  display: flex;
  flex-direction: column;
  max-width: 244px;
  margin-top: -38px;
}

.productName {
  overflow: hidden;
  letter-spacing: 0.5px;
  margin: -30px 0px 0px 10px;
  max-height: 30px;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 14px;
}

.productPrice {
  font-size: 14px;
  margin-left: 10px;
}

.favorite {
  position: relative;
  bottom: 232px;
  left: 79%;
  width: 4%;
  margin: 0%;
}
.icon {
  width: 23px;
}
