.specParent {
  display: flex;
  flex-wrap: wrap;
  width: 118%;
  justify-content: space-between;
  margin-bottom: 50px;
}

.specWrapper {
  display: flex;
  width: 1123px;
}

.ul1 {
  list-style-position: outside;
  width: 441px;
  margin-right: 146px;
}

.item {
  margin-bottom: 20px;
  margin-left: -22px;
  line-height: 22px;
}

.ul2 {
  margin-right: 16px;
  width: 37%;
  list-style-position: outside;
}
