.specParent {
  display: flex;
  flex-wrap: wrap;
  width: 118%;
  justify-content: space-between;
}

.specWrapper {
  display: flex;
  width: 1123px;
}

.first {
  margin-right: 28px;
  width: 100%;
  list-style-position: outside;
}

.item {
  margin-bottom: 20px;
  margin-left: -22px;
  line-height: 22px;
}

.second {
  margin-right: 28px;
  width: 90%;
  list-style-position: outside;
}
